{{template "head"}}
<body>
{{template "header"}}
<div id="main">
    <div class="home-title">
        <h1>Meet our family</h1>
    </div>
    <div class="main-container">
        <div class="main-item">
            <p>Put a bunch of mushy stuff here....</p>
        </div>
    </div>
</div>
{{template "footer"}}
{{template "scripts"}}
</body>
</html>
