{{define "header"}}
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/menus">Menus</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/about">About</a></li>
  </ul>
</nav>
{{end}}

{{define "footer"}}
<footer>
  <p class="footer-text">Spirals</p>
</footer>
{{end}}
