{{template "head"}}
<body>
{{template "header"}}
<div id="main">
    <div class="home-title">
        <h2>Pizza</h2>
        <h1>Spirals</h1>
        <h2>Sushi</h2>
    </div>
</div>
{{template "footer"}}
{{template "scripts"}}
</body>
</html>
